@{ 
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div>
    <div class="container-fluid" id="Dashboard">
        <div class="row">
            <div class="col-6 col-md-4">.col-6 .col-md-4
            <div class="container">
                <img width="130" hieght="130" id="DashboardProfilePicture" src="~/images/SiteImages/Man.png" /> @*<--------- Placeholder image until connected to model image.*@
                
            </div>
            </div>
            <div class="col col-md-8">.col .col-md-8</div>
        </div>
    </div>
</div>