@model SSImplementation.Models.ViewModels.DashboardViewModel

@{ 
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div>
    <div class="container-fluid">
        <div id="DashboardColumns" class="row content">
            <div class="col-sm-3">
                @if (Model.ProfileData.ProfilePicture != null)
                {
                    <img id="DashboardProfilePicture" 
                         src="~/ProfilePictures/@Model.ProfileData.User.Id/@Model.ProfileData.ProfilePicture"/>
                }
                else
                { 
                    <img id="DashboardProfilePicture" src="~/images/SiteImages/Man.png"/>
                }
                <div id="ViewProfileLink">
                    <a asp-action="Details" asp-controller="Profiles">View Your Profile</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel ">
                    <div class="panel-heading">
                        Notifications
                    </div>
                    <div class="panel-body">
                        <h4 align="center">No Notifications</h4>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        Studio Time
                    </div>
                    <div class="panel-body">
                        <h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </h4>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        Listings
                    </div>
                    <div class="panel-body">
                        @if (Model.StudioData.pictureOfRoom == null)
                        {
                            <p align="center"> Your studio listing has not been setup yet.</p>
                        }
                        else
                        {
                            <table class="ListingTable" align="center">
                                <tr align="center">
                                    <td style="width:177px; height:auto;">
                                        <img class="ListingTableImage"
                                             src="~/StudioPictures/@Model.StudioData.User.Id/@Model.StudioData.pictureOfRoom" />
                                    </td>
                                    <td>
                                        @Model.StudioData.StudioName
                                    </td>
                                    <td>
                                        <P align="center">@Model.StudioData.Address</P>
                                        <p align="center">@Model.StudioData.City, @Model.StudioData.State</p>
                                    </td>
                                    <td>
                                        <p align="center">$@Model.StudioData.PricePerHour/hr</p>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>