@model SSImplementation.Models.Profile

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutProfiles.cshtml";
}


<div>
    <section class="ProfileHeader">
        <div class="row">
            <img class="ProfilePagePicture" src="~/ProfilePictures/@Model.User.Id/@Model.ProfilePicture"/>
        </div>
    </section>
</div>