@model IList<SSImplementation.Models.ViewModels.ResultStudioViewModel>

<div class="container-fluid" align="center">
    <div class="page-header" align="center">
        @if (Model.ToList() != null)
        {
            <h1 class="SearchResultAmount">We found @Model.ToList().Count listings in your area. </h1>
        }
        else
        {
            <h1 class="SearchResultAmount"> We did not find any listings in your area. </h1>

        }
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="Results">
                @foreach(var item in Model)
                {
                    <div class="ResultContainer">
                        <div class="ResultEntry">
                            <img class="SearchResultsPicture" src="~/StudioPictures/@item.UserID/@item.StudioPicture" />
                            <h1>Studio Name: <b>@item.StudioName</b></h1>
                            <p><b>Description: </b>@item.StudioDescription</p>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
